<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{template.html}">
<head>
    <title>Cadastro de Usuários</title>
</head>
<body>
    <div layout:fragment="conteudo">
        <h1>Cadastro de Usuários</h1>
        <form method="post" action="/usuarios"><!-- Método post: envio -->
                <label for="nome">Nome:</label>
                <input required type="text" id="nome" name="nome"><br>

                <label for="cpf">CPF:</label>
                <input required type="text" id="cpf" name="cpf" placeholder="Ex.: 00000000000"><br>

                <label for="datanasc">Data de nascimento:</label>
                <input required type="date" id="datanasc" name="datanasc" placeholder="Ex.: dd/mm/aaaa"><br>

                <label for="sexo">Sexo:</label>
                <input required type="text" id="sexo" name="sexo"><br>

                <label for="cargo">Cargo:</label>
                <input required type="text" id="cargo" name="cargo" ><br>

            <input type="submit" value="Cadastrar">
        </form>
    </div>
</body>
</html>